body {
  background: orange;
}

.divclass {
  /* width: 100px;
  height:100px; */
  /* background-color: skyblue !important; */
  transition-property: width height;
  transition-duration: 1s;
  transform: translateX(-50%) translateY(-50%);
  position: fixed;
  border-radius: 50%;
}